<div class="large-container center-block">
    <h1><%= @article.title %></h1>

    <div>
        <p>Escrito por: <strong><%= @article.user.name %></strong> </p>
    </div>

    <div class="margin-top">
        <p class="label">Tags</p>

        <% @article.categories.each do |category| %>
            <span class="badge badge-pill padding" style="background-color:<%= category.color %>">
                <%= link_to category.title, category, class: "text-white" %>
            </span>
        <% end %>

    </div>

    <div>
        <%= @article.content %>
    </div>


    <% if current_user==nil || current_user.role != 'Usuario'%>
        <div>
            <%= link_to "EDITAR", edit_article_path, class: "link" %>
            <%= link_to "ELIMINAR ARTICULO", @article, method: :delete %>
        </div>
    <% end %>

    <div>
        <h2>Agregar Comentario</h2>
        <div class="comment">
            <%= form_with(model: [ @article, Comment.new ], local: true) do |form| %>
                <%= form.text_area :text, placeholder: 'Escribe tu comentario' , cols: 120%>
                <%= form.submit 'Enviar comentario' %>
            <% end %>
        </div>
    </div>

    <div>
        <h2>Comentarios</h2>
        <% @article.comments.each do |comment| %>
        <div class = "comment">
            <% if comment.user.avatar.present? %>
                <%= image_tag comment.user.avatar.variant(resize: '50x50^', crop: '50x50+0+0'), width: 50, height: 50 %>
            <% end %>
            <p>Publicado por: <%= comment.user.name %></p>

            <div class= "comment_content"><p><%= comment.text %></p></div>
            <p>Publicado: <%= comment.created_at.strftime("%d/%m/%Y") %></p>
            <% if current_user.present? %>
                <% if current_user == comment.user || current_user.role == 'Admin'%>
                    <%= button_to "Eliminar comentario", article_comment_path(@article, comment), method: :delete, data: { confirm: "¿Estás seguro de eliminar este comentario?" } %>
                <% end %>
            <% end %>
        </div>
        <% end %>
    </div>
</div>
