<div class="small-container center-block">
    <p class="fw-bold text-uppercase margin-top">Editar Usuario</p>
    <%= image_tag url_for(current_user.avatar), height: 100, width: 100 %>
    <%= form_with(model: current_user, local: true) do |form| %>
    <div class="field">
        <%= form.label :avatar %>
        <%= form.file_field :avatar %>
    </div>
    <div class="field">
        <%= form.submit 'Guardar', disable_with: "Guardaring...", class: "btn btn-primary" %>
    </div>
    <% end %>
</div>
