<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td><%= category.color %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Mostrar Articulos', category %></td>
          <% if current_user.role != 'Usuario' && current_user.role != 'Editor' %>
            <td><%= link_to 'Editar', edit_category_path(category) %></td>
            <td><%= link_to 'Eliminar', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.role != 'Usuario' && current_user.role != 'Editor' %>
  <%= link_to 'New Category', new_category_path %>
<% end %>

